form {
  width: 500px;
  height: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput {
  width: 90%;
  height: 20px;
  padding: 0;
  border: 1px solid #cfcfcf;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
}

.todoSubmitButton {
  width: 10%;
  height: 42px;
  border: 1px solid #cfcfcf;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plusIcon {
  height: 25px;
  width: 25px;
  color: #3d3d3d;
}
